{% set pre = "defra-flood-levels" %}
{% if model.stations | length %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="defra-navbar defra-navbar--border defra-navbar--search-categories">
                <div class="defra-navbar__inner">
                    <span id="map"></span>
                    <div class="defra-navbar__group">
                        <ul class="defra-navbar__list" id="filter" data-controls="results">
                            {% for filter in model.filters %}
                                <li class="defra-navbar__item{% if filter.type == model.queryGroup %} defra-navbar__item--selected{% endif %}">
                                    <a href="/levels?q={{ model.q }}&group={{ filter.type }}" data-group-type="{{ filter.type }}">{{ filter.type | capitalize }} ({{ filter.count }})</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <table class="{{ pre }}-table" role="table" aria-labelledby="flood-table-caption" id="results">
                <caption id="flood-table-caption" class="govuk-visually-hidden">
                    Results for {{ model.q }}, showing <span>{{ model.queryGroup }}</span> levels
                </caption>
                <thead class="{{ pre }}-table__head" role="rowgroup">
                {%- set hideHeader -%}
                    {% if model.queryGroup == 'rainfall' %}style="display:none"{% endif %}
                {%- endset -%}
                {%- set hideRainfallHeader -%}
                    {% if model.queryGroup != 'rainfall' %}style="display:none"{% endif %}
                {%- endset -%}
                <tr role="row" data-group-type="rainfall" {{ hideRainfallHeader | safe }}>
                    <th class="{{ pre }}-table__cell {{ pre }}-table__cell--location" scope="col" role="columnheader">Measuring station</th>
                    <th class="{{ pre }}-table__cell {{ pre }}-table__cell--rainfall" scope="col" role="columnheader">1 hour</th>
                    <th class="{{ pre }}-table__cell {{ pre }}-table__cell--rainfall" scope="col" role="columnheader">6 hours</th>
                    <th class="{{ pre }}-table__cell {{ pre }}-table__cell--rainfall" scope="col" role="columnheader">24 hours</th>
                </tr>
                <tr role="row" data-group-type="river,sea,groundwater" {{ hideHeader | safe }}>
                    <th class="{{ pre }}-table__cell {{ pre }}-table__cell--location" scope="col" role="columnheader">Measuring station</th>
                    <th class="{{ pre }}-table__cell {{ pre }}-table__cell--height" scope="col" role="columnheader">Height</th>
                    <th class="{{ pre }}-table__cell {{ pre }}-table__cell--trend" scope="col" role="columnheader">Trend</th>
                    <th class="{{ pre }}-table__cell {{ pre }}-table__cell--state" scope="col" role="columnheader">State</th>
                </tr>
                </thead>
                <tbody class="{{ pre }}-table__body" role="rowgroup">
                {% for item in model.stations %}
                    {% include "partials/level-row.njk" %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
