{% extends "home.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "flood.njk" import contacts, report %}

{% from "cando.njk" import cando %}

{% block content %}
    <h1 class="govuk-heading-l">Flooding in {{ area }}</h1>
    {% for p in overview %}
        <p class="govuk-body">{{ p }}</p>
    {% endfor %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form method="post" action="/area">
                {{ govukInput({
                    label: {
                        text: "Find out about flooding in your area",
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    hint: {
                        text: "Put in your town or postcode"
                    },
                    classes: "govuk-!-width-one-half",
                    id: "your-area",
                    name: "area"
                }) }}

                {{ govukButton({
                    text: "Find out"
                }) }}
            </form>

            <h2 class="govuk-heading-m">Flood forecast for {{ area }}</h2>
            {% for p in forecast %}
                <p class="govuk-body">{{ p | safe }}</p>
            {% endfor %}

            {{ cando() }}
        </div>
        <div class="govuk-grid-column-one-third">
            {{ contacts() }}
            {{ report() }}
        </div>
    </div>
{% endblock %}
