{% extends "home.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "cando.njk" import cando %}

{% block content %}
    <h1 class="govuk-heading-l">Flooding in {{ area }}</h1>
    {% for p in overview %}
        <p class="govuk-body">{{ p }}</p>
    {% endfor %}

    {{ govukInput({
        label: {
            text: "Your area",
            classes: "govuk-label--l",
            isPageHeading: true
        },
        hint: {
            text: "Get an overview of flooding in your area"
        },
        classes: "govuk-!-width-one-half",
        id: "your-area",
        name: "area"
    }) }}

    {{ govukButton({
        text: "Check",
        href: "/town/1"
    }) }}
    <h2 class="govuk-heading-m">Flood forecast for {{ area }}</h2>
    {% for p in forecast %}
        <p class="govuk-body">{{ p }}</p>
    {% endfor %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ cando() }}
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
    </div>
{% endblock %}
